# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Check Results

# Either a daily based on schedule/cron or only on tag push
on: pull_request

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: actions/checkout@v2

      #    - name: install-pkgs
      #run: |
      #  sudo apt-get install -y ninja-build doxygen

    - name: cache-pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-test-pip

    - name: install-pip
      run: |
        pip3 install wheel setuptools GitPython
        pip3 install junit2html

    - id: file_changes
      uses: trilom/file-changes-action@v1.2.3
      with:
        output: 'json'

    - name: Check results
      id: results
      run: |
        latest=$(scripts/version_mgr.py -L)
        echo ::set-output name=version::${latest};
        echo "Latest is ${latest}";

        # check if we have the board already, just in case, WIP
        for file in `cat $HOME/files_added.json | jq -r  '.[] '`; do
          # verify XML is valid
          xmllint  --noout ${file}
          if [[ ${file} == results/*sanitycheck* ]]; then
            echo "File ${file} not allowed."
            exit 1
          fi
          if [[ ${file} == results/* ]]; then
            echo "Checking ${file}"
            base=`basename ${file}`
          fi
        done
        # verify matching test spec
        # verify version
        # etc.

