# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Check Results

# Either a daily based on schedule/cron or only on tag push
on: pull_request

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: actions/checkout@v2

      #    - name: install-pkgs
      #run: |
      #  sudo apt-get install -y ninja-build doxygen

    - name: cache-pip
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-test-pip

    - name: install-pip
      run: |
        pip3 install wheel setuptools GitPython
        pip3 install junit2html

    - id: file_changes
      uses: trilom/file-changes-action@v1.2.3
      with:
        output: 'json'

    - name: Check results
      id: results
      run: |
        latest=$(scripts/version_mgr.py -L)
        echo ::set-output name=version::${latest};
        echo "Latest is ${latest}";

        # check if we have the board already, just in case, WIP
        for file in `cat $HOME/files_added.json | jq -r  '.[] '`; do
          if [[ ${file} == results/*sanitycheck* ]]; then
            echo "File ${file} not allowed."
            exit 1
          fi
          if [[ ${file} == results/* ]]; then
            echo "Verifying content of ${file}"
            fd=$(dirname $file)
            v=$(basename $fd)
            python3 scripts/results_verification.py -Z ${v} -P ./${file} -E 500 -F 500 -S 5
            if [ $? -eq 0 ]
            then
              echo "Results file succesfully verified and will be automatically published"
            else
              echo "Results file verification failed. Please ask @permac or @nashif for review if you want to get them merged"
              exit 1
            fi
          fi
          if [[ ${file} == results/* ]]; then
            echo "Checking ${file}"
            ~/.local/bin/junit2html --summary-matrix ${file}
          fi
        done
        # verify matching test spec
        # verify version
        # etc.
        
    - name: Put label
      # Put `automerge` label if verification passed. Required for automerge action.
      id: labeler
      uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"

